.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 20px); /* Adjust height if you have other elements like headers */
}

.app-launcher {
  width: 75%; /* Adjust width to allow space for Notepad */
  display: flex;
  flex-direction: column;
}

.notepad {
  width: 50%; /* Ensure this width fits the Notepad */
  display: flex;
  flex-direction: column;
  margin-left: 40px; /* Adjust margin to move it slightly left if necessary */
}

.spotify {
  height: 20vh;
  background-color: #1c1c1c;
  color: white;
  overflow: hidden;
}
